{% load static %}

<form action="{% url 'posts:create_post' %}"
      method="post"
      enctype="multipart/form-data"
      class="mb-4 p-3 border rounded bg-dark shadow-sm">

  {% csrf_token %}

  <!-- TEXT -->
  <div class="mb-3">
    <textarea
      name="text"
      class="form-control text-light bg-dark border-secondary"
      rows="3"
      placeholder="Що у вас нового?"></textarea>
  </div>

  <!-- FILE -->
  <div class="mb-3 d-flex align-items-center gap-2">
    <label for="file-input" class="btn btn-outline-secondary btn-sm mb-0">
      📁 Вибрати файл
    </label>

    <span id="file-name" class="text-muted">
      Файл не вибрано
    </span>

    <input type="file"
           id="file-input"
           name="file"
           hidden>
  </div>



  <!-- SUBMIT -->
  <div class="text-end">
    <button type="submit" class="btn btn-primary btn-sm">
      Опублікувати
    </button>
  </div>
</form>

<script>
const fileInput = document.getElementById('file-input')
const fileName = document.getElementById('file-name')

fileInput.addEventListener('change', () => {
  fileName.textContent = fileInput.files.length
    ? fileInput.files[0].name
    : 'Файл не вибрано'
})
</script>
