{% extends "base.html" %}
{% load static %}

{% block title %}Редагувати пост{% endblock %}

{% block content %}
<div class="container py-4">
  <h2 class="text-light mb-3">Редагувати пост</h2>

  <form method="post" enctype="multipart/form-data" class="bg-dark p-4 rounded shadow-sm">
    {% csrf_token %}
    <textarea name="text" rows="3" class="form-control mb-2">{{ post.text }}</textarea>
    <input type="url" name="link" value="{{ post.link }}" class="form-control mb-2" placeholder="Посилання (необов'язково)">
    <input type="file" name="file" class="form-control mb-3">
    <button type="submit" class="btn btn-primary w-100">💾 Зберегти</button>
  </form>
</div>
{% endblock %}
