{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <h3 class="text-light mb-3">📥 Вхідні запити</h3>
    {% if incoming %}
        {% for req in incoming %}
        <div class="d-flex align-items-center justify-content-between bg-dark p-2 rounded mb-2">
            <span>{{ req.from_user.username }}</span>

            <form method="post" action="{% url 'friends:accept' req.id %}">
                {% csrf_token %}
                <button class="btn btn-success btn-sm">Прийняти</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p class="text-light">Немає запитів</p>
    {% endif %}


    <h3 class="text-light mt-4 mb-3">📤 Відправлені запити</h3>
    {% if outgoing %}
        {% for req in outgoing %}
        <div class="bg-secondary p-2 rounded text-light mb-2">
            {{ req.to_user.username }} — очікує підтвердження
        </div>
        {% endfor %}
    {% else %}
        <p class="text-light">Ти нікому ще не відправляв запитів</p>
    {% endif %}

</div>
{% endblock %}
