{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3 text-light">👥 Мої друзі</h2>

    {% if friends %}
        <ul class="list-group">
            {% for f in friends %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ f.username }}</span>

                <form method="post" action="{% url 'friends:delete' f.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm">Видалити</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-light">У тебе поки що немає друзів.</p>
    {% endif %}
</div>
{% endblock %}
