{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center mb-4">Реєстрація</h2>
    <form method="post" class="p-3 border rounded bg-light shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100 mt-2">Зареєструватися</button>
    </form>
    <p class="text-center mt-3">
        Вже маєте акаунт?
        <a href="{% url 'accounts:login' %}">Увійдіть тут</a>
    </p>
</div>


{% endblock %}
